body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* paginateNum */
.paginateBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  width: 20px;
  height: 20px;
  margin-top: 8px;
  cursor: pointer;
}

/* breadCrumb nav */
.breadCrumb {
  height: 25px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

#tableWidth {
  width: 700px;
}

.pagiBtn {
  font-size: 20px;
}

.tableA {
  width: 700px;
}